<!-- This is the search box that appears -->
  <%= search_form_for @search do |f| %>
    <div class="large-8 small-9 columns">
      <%= f.label :location_cont, "Search by Location" %><br>
      <%= f.text_field :location_cont, class: "radius-left expand", placeholder: "Enter a County" %>
    </div>
    <div class="large-4 small-3 columns">
      <%= f.submit "Search", class: "radius-right button" %>
    </div>
  <% end %>

  <table>
    <tbody>
      <tr>
        <%= @profiles.each do |profile| %>
          <td><%= profile.full_name %></td>
          <td><%= link_to 'View', profile %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
    
