<!-- Reference: http://guides.rubyonrails.org/form_helpers.html => 2.2 Binding a Form to an Object -->
<!-- Source: "Devise Authentication in Depth" - https://www.sitepoint.com/devise-authentication-in-depth/ -->

<!-- Routes to 'Profiles#new' -->
<div id= "nice-form">
<h1>Profile Creation</h1>
<% provide(:title, 'Sign up') %>

  <% header "Create Profile" %>
  <!-- Reference: http://guides.rubyonrails.org/form_helpers.html => 2.2 Binding a Form to an Object -->
  <!-- Creates a form for the object @profile. -->

  <!-- Multipart allows the uploading of attachments -->
    <%= form_for @profile, :html => {:multipart => true} do |f| %>
      
        <div class="form-group">
          <%= f.label :full_name %>
          <%= f.text_field :full_name, class:"form-control"  %>
        </div>
          
        <div class="form-group">
          <%= f.label :contact_number %>
          <%= f.text_field :contact_number, class:"form-control"  %>
        </div>

  <div class="form-group">
    <%= f.label :location %>
      <%= f.text_field :location, class:"form-control"  %>
  </div>

<div class="form-group">
  <%= f.label :makeup_type %>

<div class="form-group">
    <%= f.text_field :makeup_type, class:"form-control"  %>
        </div>
          
        <div class="form-group">
          <%= f.label :bio %>
          <%= f.text_area :bio, class:"form-control"  %>
        </div>
  
        <div class="form-group">
          <%= f.file_field :image %>
        </div>
        <%= f.submit "Activate my Profile", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>