<p id="notice"><%= notice %></p>
<%= @user %>
  <p class="pFields jumbotron text-center">Personal Details</p>
  <img src="/assets/miniLogo.png" alt="miniLogo" />
<div id="showPanel1" %>
  <p>
    <%= image_tag @profile.image_url.to_s, alt: "Avatar", id: "avatarImg" %>
  </p>

  <div class="row">
      <p class="pFields">
        <strong>Full Name:</strong>
        <%= @profile.full_name %>
      </p>
  </div>
  <div class="row">
      <p class="pFields">
        <strong>Contact Number:</strong>
        <%= @profile.contact_number %>
      </p><br>
  </div>
  <div class="row">
      <p class="pFields">
        <strong>Location:</strong>
        <%= @profile.location %>
      </p><br>
  </div>
  <div class="row">
      <p class="pFields">
        <strong>Makeup Type:</strong>
        <%= @profile.makeup_type %>
      </p><br>
  </div>
</div>

<div id="showPanel2" %>
  <p class="pFields">
    <strong>Bio:</strong>
    <%= @profile.bio %>
  </p>
</div>

<div id="showLinks">
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Back', profiles_path %>
</div>